//going to play so I'm going to set these original colors here


#j {
    color: #4caf50;
  }
  
  #u {
    color: #d05353;
  }
  
  #l {
    color: #fffa5f;
  }
  
  #i {
    color: #3949ab;
  }
  
  #a {
    color: #2196f3;
  }
  
  #n {
    color: #00bcd4;
  }
  
  #s {
    color: #4caf50;
  }
  
  #d {
    color: #ff8f00;  
  }
  
  #e {
    color: #ff8f00;  
  }
  
  #r {
    color: #ff8f00;  
  }
  

  ________________________-
  2nd version 

  #j {
    color: #2fa346;
  }
  
  #u {
    color: #d05353;
  }
  
  #l {
    color: #fff93d;
  }
  
  #i {
    color: #3949ab;
  }
  
  #a {
    color: #2196f3;
  }
  
  #n {
    color: #00bcd4;
  }
  
  #s {
    color: #4caf50;
  }
  
  #d {
    color: #d05353;
  }
  
  #e {
    color: #3949ab; 
  }
  
  #r {
    color: #fff93d;
  }
  